* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-color: #2f1893;
    font-family: 'DM Sans', sans-serif;
}

nav {
    background-color: #2f1893;
    height: 8px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    margin-left: 10%;
}

nav ul {
    float: right;
    margin-right: 14%;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.action_btn {
    background-color: #E93A7D;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
}

nav ul li a {
    color: white;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,
a:hover {
    color: gray;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 800px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 938px) {
    .checkbtn {
        display: block;
        margin-top: 2%;
    }
    ul {
        position: fixed;
        width: 50%;
        height: 100vh;
        background: transparent;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: gray;
    }
    #check:checked~ul {
        left: 0;
    }
}

section {
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}

h1 {
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    width: 427px;
    left: 209px;
    margin-left: 230px;
    font-size: 300%;
    margin-top: 9%;
}

h3 {
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    width: 427px;
    margin-right: 20px;
    margin-left: 230px;
    margin-top: 1.5%;
    height: 29%;
}

#button {
    margin-left: 17%;
}

@media (max-width: 952px) {
    h1,
    h3 {
        margin-left: 150px;
    }
    #button {
        margin-left: 20%;
    }
}

@media (max-width: 390px) {
    h1,
    h3 {
        margin-left: 80px;
    }
    h3 {
        height: 23%;
    }
    #button {
        margin-left: 30%;
    }
}

.container {
    position: relative;
    max-width: 500px;
    width: 40%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-left: 55%;
    margin-top: -40%;
    background-color: #ffff;
}

.container header {
    font-size: 1.5rem;
    color: #333;
    background-color: #ffff;
    font-weight: 500;
    text-align: center;
}

.container .form {
    background-color: #ffff;
}

.form .input-box {
    width: 100%;
    margin-top: 20px;
    background-color: #ffff;
}

.input-box label {
    color: #333;
    background-color: #ffff;
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 0 15px;
    background-color: #ffff;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffff;
}

.form .column {
    display: flex;
    column-gap: 10px;
}

.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}

.checkid {
    background-color: #fff;
    margin-top: 6%;
}

.checkid1 {
    background-color: #fff;
    margin-top: 6%;
}

.checkid2 {
    background-color: #fff;
    margin-top: 4%;
    text-align: center;
}

.checkid3 {
    background-color: #fff;
    margin-top: 4%;
}

.checkid4 {
    background-color: #fff;
    margin-top: 6%;
    text-align: center;
}

.checkid5 {
    background-color: #fff;
    margin-top: 6%;
    text-align: center;
    color: aqua
}

.form button {
    /* height: 55px;
        width: 100%;
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        margin-top: 30px;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease;
        background: rgb(130, 106, 251); */
    height: 55px;
    width: 100%;
    background-color: #2f1893;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
}

.form button:hover {
    background: rgb(57, 133, 219);
}

@media (max-width: 1000px) {
    .container {
        margin-top: 2%;
    }
}

@media (max-width: 952px) {
    .container {
        margin-top: -60%;
    }
}